body {
    font-family: 'Poppins', sans-serif;
    background: url('d117b8ab-434a-482e-9609-6b143d92532c.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 380px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .header {
    text-align: center;
  }
  
  .header h1 {
    font-size: 24px;
    color: #2c3e50;
    margin: 0;
  }
  
  .header p {
    font-size: 14px;
    color: #7f8c8d;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-size: 14px;
    color: #34495e;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-group input:focus {
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
    outline: none;
  }
  
  .btn {
    background-color: #2e1a47;
    color: #ffffff;
    padding: 12px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background-color: #502e6b;
    border-color: #ffffff;
  }
  
  .form-footer {
    text-align: center;
    font-size: 14px;
    color: #050505;
  }
  
  .form-footer a {
    color: #fa8e00;
    text-decoration: none;
    font-weight: 500;
  }
  